@font-face {
    font-family: source;
    src: url(../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

:root {
    --font: source;

    font-family: var(--font);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

html {
    height: 100vh;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container {
    flex: 5;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    width: 97%;
    border: 2px solid black;
    padding: 10px;
    background-color: lightgray;
    overflow-y: scroll;
}



/* BOOK */
.book {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 1.6em;
}

.id {
    font-size: 0.7em;
    color: gray;
}

#add {
    height: 2em;
    padding: auto;
}

.remove {
    border: none;
    background: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: lightgray;
}

.remove:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.read {
    border: none;
    background: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

.read:hover {
    filter: brightness(85%);
    cursor: pointer;
}